<footer class="footer">
  <div class="main-footer">
    <div class="container">
      <div class="main-footer-inn">
        <div class="footer-logo">
          <span><img src="images/logo.png" alt="" /></span>
        </div>
        <div class="footer-menu">
          <ul>
            <li><a href="about-us.html">About Us</a></li>
            <li><a href="terms-and-services.html">Terms and Services</a></li>
            <li><a href="privacy-policy.html">Privacy Policy</a></li>
            <li><a href="#">How it works</a></li>
            <li><a href="#">Trust and Quality</a></li>
            <li><a href="blog.html">Blog</a></li>
          </ul>
        </div>
        <div class="footer-social">
          <ul>
            <li class="facebook"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li class="twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li class="linkedin"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            <li class="google-plus"><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="copy-right-footer">
    <div class="container">
      <div class="copy-ftr">
        Your copy right address here
      </div>
    </div>
  </div>
  <div class="privacy-popup">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <div class="privacy-cont">
            <h2>Your privacy is important to us</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged.</p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="privacy-btns">
            <ul>
              <li><a href="JavaScript:Void(0);" class="btn privacy-close">Ok</a></li>
              <li><a href="#" class="btn">More Info</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!---------Js------------>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<script src="js/menu.js" type="text/jscript"></script>
<script src="js/script.js" type="text/jscript"></script>
<!---------slider Js------------>
<script src="js/owl.carousel.js" type="text/jscript"></script>
<script src="js/aos.js"></script>
<script src="js/jquery-toast.js"></script>




<script>

  // @status : enum: error, success, warning, info

  function showToast(status, message) {
    $.toast({
      heading: status.toUpperCase(),
      text: message,
      showHideTransistion: 'fade',
      icon: status.toLowerCase(),
      position: 'top-center',
      hideAfter: 9000,
      textAlign: 'left',
      loader: true,
    });
  }

</script>

<% if(status && message) { %>
  <script>
    showToast('<%= status; %>', '<%= message; %>');
  </script>
  <% } %>