<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GradStoc</title>
  <link rel="shortcut icon" href="images/favicon.png" />
  <!---------Css------------>
  <link rel="stylesheet" href="fontawesome-free/css/all.min.css" type="text/css" />
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/menu.css" />
  <link rel="stylesheet" href="css/style.css" type="text/css" />
  <link rel="stylesheet" href="css/responsive.css" type="text/css" />
  <link rel="stylesheet" href="css/fontface.css" type="text/css" />
  <link rel="stylesheet" href="css/jquery.toast.css" type="text/css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700,900&display=swap"
    rel="stylesheet">
  <!---------Slider Css------------>
  <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css" />
  <!---------Animate Css------------>
  <link rel="stylesheet" href="css/aos.css" />
  <!---------Css------------>
</head>
<!-- <header class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="main-logo">
          <a href="index.html"><img src="images/logo.png" alt="logo" /></a>
        </div>
      </div>
      <div class="col-md-9">

        <div class="header-right">
          <div class="header-top">
            <div class="search-area">
              <div class="input-group">
                <div class="input-group-prepend">
                  <select class="form-control">
                    <option selected="" value="">Select Option...</option>
                    <option value="">Fiction Book</option>
                    <option value="">Non-Fiction Book</option>
                    <option value="">Text Book</option>
                  </select>
                </div>
                <input type="text" class="form-control" placeholder="Search here..." />
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="tutorHelp">
              <a href="tutor-my-question.html">Tutor Help <i class="far fa-question-circle" data-toggle="tooltip"
                  title="Get an Expert Tutor to help you with your homework"></i></a>
            </div>
          </div>
          <div class="header-menus">
            <div class="menus">
              <button class="nav-toggle">
                <div class="icon-menu">
                  <span class="line line-1"></span>
                  <span class="line line-2"></span>
                  <span class="line line-3"></span>
                </div>
              </button>
              <div class="nav nav-container">
                <ul class="links">
                  <li class="active"><a href="school-list.html">School</a>
                    <ul>
                      <li>
                        <a href="#">
                          <p>Liberty University</p>
                          <div class="sub-img"><img src="images/liberty-university.jpg" alt="" /></div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <p>Biology</p>
                          <div class="sub-img"><img src="images/biology.jpg" alt="" /></div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <p>Business Textbook</p>
                          <div class="sub-img"><img src="images/businessTextbook.jpg" alt="" /></div>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class=""><a href="fiction-book.html">Subject</a></li>
                  <li class=""><a href="books-page.html">Books</a></li>
                  <li class=""><a href="tutor-list.html">Ask Tutors</a></li>
                  <li class=""><a href="blog.html">Blog</a></li>
                </ul>
              </div>
            </div>
            <div class="header-sign">
              <ul>
                <li><a href="#" class="login-btn btn" data-toggle="modal" data-target="#myModal">Login</a></li>
                <li><a href="#" class="signup-btn btn" data-toggle="modal" data-target="#myModal">Sign up</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header> -->
<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="main-logo">
          <a href="/"><img src="images/logo.png" alt="logo" /></a>
        </div>
      </div>
      <div class="col-md-9">
        <div class="header-right">
          <div class="header-top">
            <div class="search-area">
              <div class="input-group">
                <div class="input-group-prepend">
                  <select class="form-control">
                    <option selected="" value="">Select Option...</option>
                    <option value="">Fiction Book</option>
                    <option value="">Non-Fiction Book</option>
                    <option value="">Text Book</option>
                  </select>
                </div>
                <input type="text" class="form-control" placeholder="Search here..." />
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="tutorHelp">
              <a href="tutor-my-question.html">Tutor Help <i class="far fa-question-circle" data-toggle="tooltip"
                  title="Get an Expert Tutor to help you with your homework"></i></a>
            </div>
          </div>
          <div class="header-menus">
            <div class="menus">
              <button class="nav-toggle">
                <div class="icon-menu">
                  <span class="line line-1"></span>
                  <span class="line line-2"></span>
                  <span class="line line-3"></span>
                </div>
              </button>
              <div class="nav nav-container">
                <ul class="links">
                  <li class="active"><a href="/school">School</a>
                    <ul>
                      <li>
                        <a href="#">
                          <p>Liberty University</p>
                          <div class="sub-img"><img src="images/liberty-university.jpg" alt="" /></div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <p>Biology</p>
                          <div class="sub-img"><img src="images/biology.jpg" alt="" /></div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <p>Business Textbook</p>
                          <div class="sub-img"><img src="images/businessTextbook.jpg" alt="" /></div>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class=""><a href="/book">Subject</a></li>
                  <li class=""><a href="books-page.html">Books</a></li>
                  <li class=""><a href="tutor-list.html">Ask Tutors</a></li>
                  <li class=""><a href="blog.html">Blog</a></li>
                </ul>
              </div>
            </div>
            <% if(!isUserLoggedIn) { %>
              <div class="header-sign">
                <ul>
                  <li><a href="#" class="login-btn btn" data-toggle="modal" data-target="#myModal">Login</a></li>
                  <li><a href="#" class="signup-btn btn" data-toggle="modal" data-target="#myModal">Sign up</a></li>
                </ul>
              </div>
              <% } else { %>
                <div class="user-top">
                  <div class="user-top-menu">
                    <a href="#">
                      <span><img src="/uploads/<%=userData.profile %>" height="50px" width="50px"
                          class="img-rounded" /></span>
                      <span class="user-name">
                        <%= userData.firstName %><i class="fas fa-chevron-down"></i>
                      </span>
                    </a>
                  </div>
                  <div class="user-top-drop">
                    <ul>
                      <li><span><i class="fas fa-user-graduate"></i>
                          <%- userData.type=='1' ? 'Tutor' :'Student' %>
                        </span></li>
                      <li><a href="/dashboard"><i class="fas fa-columns"></i> Dashboard</a></li>
                      <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                    </ul>
                  </div>
                </div>
                <div class="notification-area">
                  <button class="notification-btn btn">
                    <i class="fas fa-bell"></i>
                    <span class="notification-dots">2</span>
                  </button>
                  <div class="notification-box">
                    <ul>
                      <li>
                        <a href="#">
                          <h4>Latest Job Posted</h4>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                          <h6>December 24, 2019 12:44am</h6>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <h4>Payment</h4>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                          <h6>December 24, 2019 12:44am</h6>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <h4>Order Confirmation</h4>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                          <h6>December 24, 2019 12:44am</h6>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <h4>Order Confirmation</h4>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                          <h6>December 24, 2019 12:44am</h6>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="cart-sign">
                  <ul>
                    <li><a href="my-cart.html" class="cart-btn btn">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="notification-dots">2</span>
                      </a></li>
                  </ul>
                </div>
                <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

</html>