.nav {
    display: inline-block;
}
 .nav-container {
     -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
     transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
     -webkit-transform: translateX(-100%);
     -ms-transform: translateX(-100%);
     transform: translateX(-100%);
     position: fixed;
     left: 0;
}
 .nav-container.is-visible {
     visibility: visible;
     -webkit-transform: translateX(0);
     -ms-transform: translateX(0);
     transform: translateX(0);
}
.nav-toggle {
    line-height: 1;
    display: inline-block;
    padding: 5px;
    /* background: linear-gradient(110deg, #3bb3c2, #42d6e9); */
    background: linear-gradient(#fff,#fff) padding-box, linear-gradient(to bottom, #377c88, #4ac1c9) border-box;
    cursor: pointer;
    position: absolute;
    top: 5;
    border-radius: 5px;
    border: 1px dashed #fff;
    outline: none !important;
    right: 15px;
    z-index: 99;
    height: 42px;
    width: 42px;
}
 .nav-toggle .icon-menu {
     position: relative;
     display: inline-block;
     width: 28px;
     height: 20px;
     vertical-align: middle;
     fill: none;
}
 .icon-menu .line {
     position: absolute;
     left: 0;
     display: block;
     width: 100%;
     height: 4px;
     -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.000);
     transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.000);
     -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
     transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
     background-color: #4ac1c9;
}
 .icon-menu .line-1 {
     top: 0;
}
 .is-active .icon-menu .line-1 {
     /* -webkit-transform: translateY(8px) translateX(0) rotate(45deg);
     -ms-transform: translateY(8px) translateX(0) rotate(45deg);
     transform: translateY(8px) translateX(0) rotate(45deg); */
}
 .icon-menu .line-2 {
     top: 50%;
     margin-top: -2px;
}
 .is-active .icon-menu .line-2 {
     /* opacity: 0; */
}
 .icon-menu .line-3 {
     bottom: 0;
}
 .is-active .icon-menu .line-3 {
     /* -webkit-transform: translateY(-8px) translateX(0) rotate(-45deg);
     -ms-transform: translateY(-8px) translateX(0) rotate(-45deg);
     transform: translateY(-8px) translateX(0) rotate(-45deg); */
}
 .nav-menu li:last-child{
     border-right:none!important;
}
 .main_dis{
     font-size:11px;
     width:110px;
}
 .main_m{
     font-size:18px;
     text-transform:uppercase;
}
/*****custum********/
 @media (min-width: 768px) {
     .nav, .nav-container, .nav-container.is-visible {
         position: static;
         top: auto;
         left: auto; 
         -webkit-transform: translateX(0);
         -ms-transform: translateX(0);
         transform: translateX(0);
    }
     .nav-container, .nav-container.is-visible {
         visibility: visible;
         height: auto;
         min-height: 0;
         overflow-y: visible;
    }
     .nav-toggle {
         display: none;
    }
    .nav li:hover ul {
        opacity: 1;
        visibility: visible;
    }
}
 .nav li {
     display: inline-block;
     position: relative;
     margin: 0 0;
     vertical-align: top;
}
 .nav li a {
     margin: 0;
     color: #1f1a17;
     font-size: 16px;
     transition: all 0.2s ease-in;
     display: block;
     padding: 20px;
     position: relative;
     font-family: 'Source Sans Pro', sans-serif;
     font-weight: 600;
     overflow: hidden;
     text-decoration: none;
}
.nav>ul>li>a:hover,.nav>ul>li>a:focus, .nav>ul>li.active>a {
    color: #2c2f8c;
}
.nav li.active a::after,
.nav li a:hover::after {
    width: calc(100% - 24px);
}
header.header.fixed .nav li a::after {
    content: none;
}
header.header.fixed .nav>ul>li>a:hover,
header.header.fixed .nav>ul>li>a:focus, 
header.header.fixed .nav>ul>li.active>a {
    color: #fff;
    background: linear-gradient(110deg, #3bb3c2, #42d6e9);
}
.nav li ul {
    position: absolute;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in;
    width: 580px;
    padding: 30px 20px;
    left: 30%;
    transform: translate(-30%, 0);
    z-index: 99;
    box-shadow: 0 4px 24px 0 rgba(5,27,44,.2);
    background: #fff;
    border-radius: 5px;
    overflow: hidden;

    display: flex;
}
.nav li li {
    display: inline-block;
    max-width: 33%;
    padding: 0 10px;
}
.nav ul li li a {
    padding: 0;
    line-height: normal;
    color: #1f1a17;
    font-size: 15px;
}

.nav li li a::after {
    content: none;
}
.nav li.hover ul {
    opacity: 1;
    visibility: visible;
}


 