<%- include('../header') %>

    <body class="home">
        <div class="main-wrapper">
            <section class="section-middle">
                <div class="page-title bg-primary">
                    <div class="container ">
                        <div class="page-title-in ">
                            <h2>Change Password</h2>
                        </div>
                    </div>
                </div><!-- page-title -->

                <div class="dashboard-content">
                    <div class="container">
                        <div class="row">
                            <%- include('./sidebar') %>
                                <div class="col-md-9">
                                    <div class="uploads-right-area">
                                        <div class="update-right card card-body box-sh">
                                            <form action="/change-password" method="post" id="changePassword"
                                                class="update-form">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Current password <span>*</span></label>
                                                            <input type="text" class="form-control"
                                                                name="currentPassword" id="currentPassword"
                                                                placeholder="Current password" value="">
                                                            <small id="currentPassErr"></small>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>New password <span>*</span></label>
                                                            <input type="text" class="form-control" name="newPassword"
                                                                id="newPassword" placeholder="New password" value="">
                                                            <small id="newPassErr"></small>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Confirm password <span>*</span></label>
                                                            <input type="text" class="form-control"
                                                                name="confirmPassword" id="confirmPassword"
                                                                placeholder="Confirm password" value="">
                                                            <small id="confirmPassErr"></small>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group commonButton">
                                                            <input type="submit" class="btn" value="Change password" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <!--dashboard-content-->
            </section>
        </div>
        <%- include('../footer') %>
    </body>

    <script>

        $('#changePassword').submit((e) => {
            var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$@!%&*?])[A-Za-z\d#$@!%&*?]{6,16}$/;
            let currentPass = document.getElementById('currentPassword').value;
            let newPass = document.getElementById('newPassword').value;
            let confirmPass = document.getElementById('confirmPassword').value;
            if (currentPass == '') {
                $('#currentPassErr').html('This field is required').css('color', 'red');
                return false;
            }
            if (newPass == '') {
                $('#currentPassErr').html('').css('color', 'red');
                $('#newPassErr').html('This field is required').css('color', 'red');
                return false;
            } else if (regex.test(newPass)) {
                $('#newPassErr').html('  ').css('color', 'red');
                if ((newPass == confirmPass) && (newPass !== '')) {
                    $('#confirmPassErr').html('Matching').css('color', 'green');
                } else {
                    $('#confirmPassErr').html('password should be match ').css('color', 'red');
                    return false;
                }
            } else {
                $('#newPassErr').html('password must contain atleast one Uppercase Character,one Lowercase Character,at least one Digit and one Special Symbol and must be 6-16 character').css('color', 'red');
                return false;
            }
        });

    </script>