<%- include('../header') %>
<body class="home">
  <div class="main-wrapper">
    <section class="section-middle">
        <div class="page-title">
        <div class="container">
          <div class="page-title-in">
            <h2>Book</h2> 
          </div>
        </div>
      </div><!--page-title-->

      <div class="container">
        <div class="product-page-section">
            <div class="row">
                <div class="col-md-3">
                    <div class="product-page-aside">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search..." />
                        </div>
                        <div class="form-group">
                            <label>Book</label>
                            <select class="form-control">
                                <option value="" selected="">Select Book</option>
                                <option value="">Fiction Book</option>
                                <option value="">Non-Fiction Book</option>
                                <option value="">Text Book</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Subject</label>
                            <select class="form-control">
                                <option value="" selected="">Select Subject</option>
                                <option value="">English</option>
                                <option value="">Maths</option>
                                <option value="">Physics</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="product-page-main">
                        <div class="product-page-top"><div class="total-item">Total : 1-10 of 50 </div></div>
                        <div class="product-page-items">
                            <ul>
                                <li>
                                    <div class="materials-item">
                                        <div class="materials-item-inn card">
                                            <div class="materials-item-img card-img">
                                            <a href="product_detail_page.html"><img src="images/photo-151.jpg" alt=""></a>
                                            </div>
                                            <div class="materials-item-cont card-body">
                                            <div class="materials-item-name card-title">
                                                <a href="#">Chemistry</a>
                                            </div>
                                            <div class="materials-rt-ct">
                                                <div class="materials-price-rt">
                                                <div class="materials-price">$ 199.00</div>
                                                <div class="materials-rt">
                                                    <i class="fas fa-star active"></i>
                                                    <i class="fas fa-star active"></i>
                                                    <i class="fas fa-star active"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                </div>
                                                <div class="materials-cart">
                                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="materials-item">
                                        <div class="materials-item-inn card">
                                            <div class="materials-item-img card-img">
                                            <a href="product_detail_page.html"><img src="images/photo-151.jpg" alt=""></a>
                                            </div>
                                            <div class="materials-item-cont card-body">
                                            <div class="materials-item-name card-title">
                                                <a href="#">Chemistry</a>
                                            </div>
                                            <div class="materials-rt-ct">
                                                <div class="materials-price-rt">
                                                <div class="materials-price">$ 199.00</div>
                                                <div class="materials-rt">
                                                    <i class="fas fa-star active"></i>
                                                    <i class="fas fa-star active"></i>
                                                    <i class="fas fa-star active"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                </div>
                                                <div class="materials-cart">
                                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="materials-item">
                                        <div class="materials-item-inn card">
                                            <div class="materials-item-img card-img">
                                            <a href="product_detail_page.html"><img src="images/photo-151.jpg" alt=""></a>
                                            </div>
                                            <div class="materials-item-cont card-body">
                                            <div class="materials-item-name card-title">
                                                <a href="#">Chemistry</a>
                                            </div>
                                            <div class="materials-rt-ct">
                                                <div class="materials-price-rt">
                                                <div class="materials-price">$ 199.00</div>
                                                <div class="materials-rt">
                                                    <i class="fas fa-star active"></i>
                                                    <i class="fas fa-star active"></i>
                                                    <i class="fas fa-star active"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                </div>
                                                <div class="materials-cart">
                                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="materials-item">
                                        <div class="materials-item-inn card">
                                            <div class="materials-item-img card-img">
                                            <a href="product_detail_page.html"><img src="images/photo-151.jpg" alt=""></a>
                                            </div>
                                            <div class="materials-item-cont card-body">
                                            <div class="materials-item-name card-title">
                                                <a href="#">Chemistry</a>
                                            </div>
                                            <div class="materials-rt-ct">
                                                <div class="materials-price-rt">
                                                <div class="materials-price">$ 199.00</div>
                                                <div class="materials-rt">
                                                    <i class="fas fa-star active"></i>
                                                    <i class="fas fa-star active"></i>
                                                    <i class="fas fa-star active"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                </div>
                                                <div class="materials-cart">
                                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="materials-item">
                                        <div class="materials-item-inn card">
                                            <div class="materials-item-img card-img">
                                            <a href="product_detail_page.html"><img src="images/photo-151.jpg" alt=""></a>
                                            </div>
                                            <div class="materials-item-cont card-body">
                                            <div class="materials-item-name card-title">
                                                <a href="#">Chemistry</a>
                                            </div>
                                            <div class="materials-rt-ct">
                                                <div class="materials-price-rt">
                                                <div class="materials-price">$ 199.00</div>
                                                <div class="materials-rt">
                                                    <i class="fas fa-star active"></i>
                                                    <i class="fas fa-star active"></i>
                                                    <i class="fas fa-star active"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                </div>
                                                <div class="materials-cart">
                                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="materials-item">
                                        <div class="materials-item-inn card">
                                            <div class="materials-item-img card-img">
                                            <a href="product_detail_page.html"><img src="images/photo-151.jpg" alt=""></a>
                                            </div>
                                            <div class="materials-item-cont card-body">
                                            <div class="materials-item-name card-title">
                                                <a href="#">Chemistry</a>
                                            </div>
                                            <div class="materials-rt-ct">
                                                <div class="materials-price-rt">
                                                <div class="materials-price">$ 199.00</div>
                                                <div class="materials-rt">
                                                    <i class="fas fa-star active"></i>
                                                    <i class="fas fa-star active"></i>
                                                    <i class="fas fa-star active"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                </div>
                                                <div class="materials-cart">
                                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="materials-item">
                                        <div class="materials-item-inn card">
                                            <div class="materials-item-img card-img">
                                            <a href="product_detail_page.html"><img src="images/photo-151.jpg" alt=""></a>
                                            </div>
                                            <div class="materials-item-cont card-body">
                                            <div class="materials-item-name card-title">
                                                <a href="#">Chemistry</a>
                                            </div>
                                            <div class="materials-rt-ct">
                                                <div class="materials-price-rt">
                                                <div class="materials-price">$ 199.00</div>
                                                <div class="materials-rt">
                                                    <i class="fas fa-star active"></i>
                                                    <i class="fas fa-star active"></i>
                                                    <i class="fas fa-star active"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                </div>
                                                <div class="materials-cart">
                                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="materials-item">
                                        <div class="materials-item-inn card">
                                            <div class="materials-item-img card-img">
                                            <a href="product_detail_page.html"><img src="images/photo-151.jpg" alt=""></a>
                                            </div>
                                            <div class="materials-item-cont card-body">
                                            <div class="materials-item-name card-title">
                                                <a href="#">Chemistry</a>
                                            </div>
                                            <div class="materials-rt-ct">
                                                <div class="materials-price-rt">
                                                <div class="materials-price">$ 199.00</div>
                                                <div class="materials-rt">
                                                    <i class="fas fa-star active"></i>
                                                    <i class="fas fa-star active"></i>
                                                    <i class="fas fa-star active"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                </div>
                                                <div class="materials-cart">
                                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="materials-item">
                                        <div class="materials-item-inn card">
                                            <div class="materials-item-img card-img">
                                            <a href="product_detail_page.html"><img src="images/photo-151.jpg" alt=""></a>
                                            </div>
                                            <div class="materials-item-cont card-body">
                                            <div class="materials-item-name card-title">
                                                <a href="#">Chemistry</a>
                                            </div>
                                            <div class="materials-rt-ct">
                                                <div class="materials-price-rt">
                                                <div class="materials-price">$ 199.00</div>
                                                <div class="materials-rt">
                                                    <i class="fas fa-star active"></i>
                                                    <i class="fas fa-star active"></i>
                                                    <i class="fas fa-star active"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                </div>
                                                <div class="materials-cart">
                                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="materials-item">
                                        <div class="materials-item-inn card">
                                            <div class="materials-item-img card-img">
                                            <a href="product_detail_page.html"><img src="images/photo-151.jpg" alt=""></a>
                                            </div>
                                            <div class="materials-item-cont card-body">
                                            <div class="materials-item-name card-title">
                                                <a href="#">Chemistry</a>
                                            </div>
                                            <div class="materials-rt-ct">
                                                <div class="materials-price-rt">
                                                <div class="materials-price">$ 199.00</div>
                                                <div class="materials-rt">
                                                    <i class="fas fa-star active"></i>
                                                    <i class="fas fa-star active"></i>
                                                    <i class="fas fa-star active"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                </div>
                                                <div class="materials-cart">
                                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="item-pagination">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-left"></i></a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div><!--container-->
     
    </section><!--section-middle-->
<%- include('../popup') %>
  </div>
<%- include('../footer') %>
 

  <script src="js/index.js" type="text/jscript"></script>
  <!---------slider Js------------>
</body>
