<%- include('../header') %>

  <body class="home">
    <div class="main-wrapper">  
      <section class="section-middle">
        <div class="col-md-12 text text-center">
          <h1 style="margin-top:50px;font-size:35px;font-weight:500;">Recover Account</h1>
        </div>
        <div style="height:350px; margin-top:50px;">
          <div class="col-md-8 offset-2">
            <div class="uploads-right-area">
              <div class="update-right card card-body box-sh">
                <form action="javascript:void(0)" id="resetPassword" class="update-form">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group my-4">
                        <label>Password <span>*</span></label>
                        <input type="text" class="form-control" id="password" placeholder="New password" value="">
                        <input type="hidden" class="form-control" id="email" name="email" placeholder="New password"
                          value="<%- email%>">
                        <small id="passwordError" style="color: red;"></small>
                      </div>
                    </div>
                    <div class="col-md-12 mb-3">
                      <div class="form-group">
                        <label>Confirm password <span>*</span></label>
                        <input type="text" class="form-control" id="confirm_password" placeholder="Confirm password"
                          value="">
                        <small id="confirmPassError"></small>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group commonButton">
                        <input type="submit" class="btn" value="Reset Password" />
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
  <%- include('../footer') %>

    <script>
      $('#resetPassword').submit((e) => {

        let regex = /^(?!.*\s)(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[~`!@#$%^&*()--+={}\[\]|\\:;"'<>,.?/_₹]).{6,16}$/;
        let password = document.getElementById('password').value;
        let cPass = $('#confirm_password').val();
        console.log('cPass', cPass);
        let email = document.getElementById('email').value;
        if (password == '') {
          document.getElementById('passwordError').innerHTML = 'This filed is required'
          return false;
        } else if (regex.test(password)) {
          document.getElementById('passwordError').innerHTML = ''
          if (cPass == '') {
            $('#confirmPassError').html('This field is required').css('color', 'red');
            return false;
          } else {
            if (password != cPass) {
              $('#confirmPassError').html('Password should be match').css('color', 'red');
              return false;
            }
            $.ajax({
              type: 'POST',
              url: "/reset_password",
              data: { password: password, email: email },
              dataType: "json",
              async: false,
              success: function (data) {
                if (data.success) {
                  document.getElementById('passwordError').innerHTML = 'HELLO';
                  console.log('data.success', data.success);
                  location.href = 'http://localhost:3300'
                }
                else {
                  document.getElementById('confirmPassError').innerHTML = data.message;
                }
              }
            });
          }
        } else {
          document.getElementById('passwordError').innerHTML = 'password must contain atleast one Uppercase Character,one Lowercase Character,at least one Digit and one Special Symbol and must be 6-16 character'
        }
        e.preventDefault();
      });
    </script>