<%- include('../header') %>

  <body class="home">
    
    <div class="main-wrapper">
      <!-- <header class="header">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="main-logo">
                <a href="index.html"><img src="images/logo.png" alt="logo" /></a>
              </div>
            </div>
            <div class="col-md-9">

              <div class="header-right">
                <div class="header-top">
                  <div class="search-area">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <select class="form-control">
                          <option selected="" value="">Select Option...</option>
                          <option value="">Fiction Book</option>
                          <option value="">Non-Fiction Book</option>
                          <option value="">Text Book</option>
                        </select>
                      </div>
                      <input type="text" class="form-control" placeholder="Search here..." />
                      <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="tutorHelp">
                    <a href="tutor-my-question.html">Tutor Help <i class="far fa-question-circle" data-toggle="tooltip"
                        title="Get an Expert Tutor to help you with your homework"></i></a>
                  </div>
                </div>
                <div class="header-menus">
                  <div class="menus">
                    <button class="nav-toggle">
                      <div class="icon-menu">
                        <span class="line line-1"></span>
                        <span class="line line-2"></span>
                        <span class="line line-3"></span>
                      </div>
                    </button>
                    <div class="nav nav-container">
                      <ul class="links">
                        <li class="active"><a href="school-list.html">School</a>
                          <ul>
                            <li>
                              <a href="#">
                                <p>Liberty University</p>
                                <div class="sub-img"><img src="images/liberty-university.jpg" alt="" /></div>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <p>Biology</p>
                                <div class="sub-img"><img src="images/biology.jpg" alt="" /></div>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <p>Business Textbook</p>
                                <div class="sub-img"><img src="images/businessTextbook.jpg" alt="" /></div>
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li class=""><a href="fiction-book.html">Subject</a></li>
                        <li class=""><a href="books-page.html">Books</a></li>
                        <li class=""><a href="tutor-list.html">Ask Tutors</a></li>
                        <li class=""><a href="blog.html">Blog</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="header-sign">
                    <ul>
                      <li><a href="#" class="login-btn btn" data-toggle="modal" data-target="#myModal">Login</a></li>
                      <li><a href="#" class="signup-btn btn" data-toggle="modal" data-target="#myModal">Sign up</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header> -->

      <section class="section-middle">
        <div class="section-banner-studySmarter">

          <div class="main-banner">
            <div class="owl-carousel banner-slider">
              <div class="item">
                <div class="banner-slider-item">
                  <div class="banner-slider-img">
                    <img src="images/gradindex.jpg" alt="" />
                  </div>
                  <div class="banner-slider-cont">
                    <div class="container">
                      <div class="banner-slider-cont-inn text text-left">
                        <h2>Content That Enriches</h2>
                        <p style="margin-left: 10px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                          eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                          nascetur ridiculus mus.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="studySmarter">
            <div class="container">
              <div class="studySmarter-inn">
                <div class="studySmarter-head">
                  <h2>Study Smarter</h2>
                  <p>Study documents for all your classes</p>
                </div>
                <div class="studySmarter-form-div">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="studySmarter-form field form-group">
                        <label class="form-label" for="fullname">School</label>
                        <input type="text" class="form-control" placeholder="Enter a school">
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="studySmarter-form field form-group">
                        <label class="form-label" for="fullname">Course</label>
                        <input type="text" class="form-control" placeholder="Enter a course">
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="studySmarter-form">
                        <input type="submit" value="FInd Course" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="gradstoc-section">
          <div class="container">
            <div class="gradstoc-inn">
              <div class="section-head" data-aos="fade-down" data-aos-duration="600">
                <h2><span>Why</span> Gradstoc?</h2>
                <p>Lorem ipsum, or lipsum as it is sometimes known copy 4</p>
              </div>
              <div class="gradstoc-main-section">
                <div class="gradstoc-img">
                  <img src="images/photo-151.jpg" alt="">
                </div>
                <div class="gradstoc-cont">
                  <div class="gradstoc-cont-inn">
                    <h2>Lorem Ipsum is simply dummy text of the printing</h2>
                    <div class="rt-i">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br />
                      Lorem Ipsum has been the industry's standard dummy text ever.</p>
                    <h3>From Start to Finish</h3>
                    <div class="gradstoc-btn">
                      <a href="#" class="btn">How It Works</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="materials-section">
          <div class="container">
            <div class="materials-inn">
              <div class="section-head" data-aos="fade-down" data-aos-duration="600">
                <h2><span>Study</span> Materials</h2>
                <p>Lorem ipsum, or lipsum as it is sometimes known copy 4</p>
              </div>
              <div class="materials-slider-section">
                <div class="owl-carousel materials-slider">

                  <div class="item">
                    <div class="materials-item">
                      <div class="materials-item-inn card">
                        <div class="materials-item-img card-img">
                          <a href="product_detail_page.html"><img src="images/photo-151.jpg" alt="" /></a>
                        </div>
                        <div class="materials-item-cont card-body">
                          <div class="materials-item-name card-title">
                            <a href="#">Quantum physics</a>
                          </div>
                          <div class="materials-rt-ct">
                            <div class="materials-price-rt">
                              <div class="materials-price">$ 149.00</div>
                              <div class="materials-rt">
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                              </div>
                            </div>
                            <div class="materials-cart">
                              <a href="#"><i class="fas fa-shopping-cart"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="materials-item">
                      <div class="materials-item-inn card">
                        <div class="materials-item-img card-img">
                          <a href="product_detail_page.html"><img src="images/Feynman_Lectures.jpg" alt="" /></a>
                        </div>
                        <div class="materials-item-cont card-body">
                          <div class="materials-item-name card-title">
                            <a href="#">Biology</a>
                          </div>
                          <div class="materials-rt-ct">
                            <div class="materials-price-rt">
                              <div class="materials-price">$ 211.00</div>
                              <div class="materials-rt">
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star"></i>
                              </div>
                            </div>
                            <div class="materials-cart">
                              <a href="#"><i class="fas fa-shopping-cart"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="materials-item">
                      <div class="materials-item-inn card">
                        <div class="materials-item-img card-img">
                          <a href="product_detail_page.html"><img src="images/photo-151.jpg" alt="" /></a>
                        </div>
                        <div class="materials-item-cont card-body">
                          <div class="materials-item-name card-title">
                            <a href="#">Chemistry</a>
                          </div>
                          <div class="materials-rt-ct">
                            <div class="materials-price-rt">
                              <div class="materials-price">$ 199.00</div>
                              <div class="materials-rt">
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                              </div>
                            </div>
                            <div class="materials-cart">
                              <a href="#"><i class="fas fa-shopping-cart"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="prepared-section">
          <div class="container">
            <div class="prepared-inn">
              <div class="section-head" data-aos="fade-down" data-aos-duration="600">
                <h2><span>Be</span> Prepared</h2>
                <p>Lorem ipsum, or lipsum as it is sometimes known copy 4</p>
              </div>
              <div class="prepared-main-section">
                <div class="row">
                  <div class="col-md-8">
                    <div class="prepared-text">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishingard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                        only five centuries, but also the leap into electronic typesetti..</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="prepared-img" data-aos="fade-in" data-aos-duration="500">
                      <img src="images/photo-14.jpg" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="popular-section">
          <div class="container">
            <div class="popular-inn">
              <div class="section-head" data-aos="fade-down" data-aos-duration="600">
                <h2><span>Popular</span> Subjects</h2>
                <p>Lorem ipsum, or lipsum as it is sometimes known copy 4</p>
              </div>
              <div class="popular-main-section">
                <ul>
                  <li data-aos="fade-up" data-aos-duration="500">
                    <div class="popular-item">
                      <a href="#">
                        <span><i class="fas fa-book"></i></span>
                        <p>Biology</p>
                      </a>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-duration="600">
                    <div class="popular-item">
                      <a href="#">
                        <span><i class="fas fa-book"></i></span>
                        <p>Business</p>
                      </a>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-duration="700">
                    <div class="popular-item">
                      <a href="#">
                        <span><i class="fas fa-book"></i></span>
                        <p>Chemistry</p>
                      </a>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-duration="600">
                    <div class="popular-item">
                      <a href="#">
                        <span><i class="fas fa-book"></i></span>
                        <p>Computers</p>
                      </a>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-duration="500">
                    <div class="popular-item">
                      <a href="#">
                        <span><i class="fas fa-book"></i></span>
                        <p>Education</p>
                      </a>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-duration="500">
                    <div class="popular-item">
                      <a href="#">
                        <span><i class="fas fa-book"></i></span>
                        <p>English</p>
                      </a>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-duration="600">
                    <div class="popular-item">
                      <a href="#">
                        <span><i class="fas fa-book"></i></span>
                        <p>Math</p>
                      </a>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-duration="700">
                    <div class="popular-item">
                      <a href="#">
                        <span><i class="fas fa-book"></i></span>
                        <p>Nursing</p>
                      </a>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-duration="600">
                    <div class="popular-item">
                      <a href="#">
                        <span><i class="fas fa-book"></i></span>
                        <p>Psychology</p>
                      </a>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-duration="500">
                    <div class="popular-item">
                      <a href="#">
                        <span><i class="fas fa-book"></i></span>
                        <p>Theology</p>
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="started-section">
          <div class="container">
            <div class="prepared-inn">
              <div class="section-head" data-aos="fade-down" data-aos-duration="600">
                <h2><span>Get Started</span> Today</h2>
                <p>Lorem ipsum, or lipsum as it is sometimes known copy 4</p>
              </div>
              <div class="prepared-main-section">
                <div class="row">
                  <div class="col-md-4">
                    <div class="prepared-img" data-aos="fade-in" data-aos-duration="500">
                      <img src="images/photo-14.jpg" alt="" />
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="prepared-text">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishingard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                        only five centuries, but also the leap into electronic typesetti..</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

     <%- include('../popup') %>

    </div>
    <%- include('../footer') %>
      <script>
        AOS.init({
          easing: 'ease-in-out-sine'
        });
      </script>
      <script>
        var owl = jQuery('.banner-slider');
        owl.owlCarousel({
          margin: 0,
          autoplay: true,
          autoplayTimeout: 5000,
          autoHeight: true,
          loop: true,
          navigation: true,
          animateIn: 'fadeIn',
          animateOut: 'fadeOut',
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 1
            },
            1000: {
              items: 1
            }
          }
        });

        var owl = jQuery('.materials-slider');
        owl.owlCarousel({
          margin: 0,
          autoplay: true,
          autoplayTimeout: 5000,
          autoHeight: true,
          loop: true,
          navigation: true,
          animateIn: 'fadeIn',
          animateOut: 'fadeOut',
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 3
            },
            1000: {
              items: 5
            }
          }
        })
      </script>
<script src="js/index.js"></script>
     

  </body>