<%- include('../header') %>

  <body class="home">
    <div class="main-wrapper">
      <!-- <header class="header">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="main-logo">
                <a href="index.html"><img src="images/logo.png" alt="logo" /></a>
              </div>
            </div>
            <div class="col-md-9">

              <div class="header-right">
                <div class="header-top">
                  <div class="search-area">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <select class="form-control">
                          <option selected="" value="">Select Option...</option>
                          <option value="">Fiction Book</option>
                          <option value="">Non-Fiction Book</option>
                          <option value="">Text Book</option>
                        </select>
                      </div>
                      <input type="text" class="form-control" placeholder="Search here..." />
                      <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="tutorHelp">
                    <a href="tutor-my-question.html">Tutor Help <i class="far fa-question-circle" data-toggle="tooltip"
                        title="Get an Expert Tutor to help you with your homework"></i></a>
                  </div>
                </div>
                <div class="header-menus">
                  <div class="menus">
                    <button class="nav-toggle">
                      <div class="icon-menu">
                        <span class="line line-1"></span>
                        <span class="line line-2"></span>
                        <span class="line line-3"></span>
                      </div>
                    </button>
                    <div class="nav nav-container">
                      <ul class="links">
                        <li class="active"><a href="school-list.html">School</a>
                          <ul>
                            <li>
                              <a href="#">
                                <p>Liberty University</p>
                                <div class="sub-img"><img src="images/liberty-university.jpg" alt="" /></div>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <p>Biology</p>
                                <div class="sub-img"><img src="images/biology.jpg" alt="" /></div>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <p>Business Textbook</p>
                                <div class="sub-img"><img src="images/businessTextbook.jpg" alt="" /></div>
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li class=""><a href="fiction-book.html">Subject</a></li>
                        <li class=""><a href="books-page.html">Books</a></li>
                        <li class=""><a href="tutor-list.html">Ask Tutors</a></li>
                        <li class=""><a href="blog.html">Blog</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="header-sign">
                    <ul>
                      <li><a href="#" class="login-btn btn" data-toggle="modal" data-target="#myModal">Login</a></li>
                      <li><a href="#" class="signup-btn btn" data-toggle="modal" data-target="#myModal">Sign up</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header> -->

      <section class="section-middle">

        <div class="section-banner-studySmarter">

          <div class="main-banner">
            <div class="owl-carousel banner-slider">
              <div class="item">
                <div class="banner-slider-item">
                  <div class="banner-slider-img">
                    <img src="images/study-tips-banner2.jpg" alt="" />
                  </div>
                  <div class="banner-slider-cont">
                    <div class="container">
                      <div class="banner-slider-cont-inn">
                        <h2>Your heading</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                          eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                          nascetur ridiculus mus.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="studySmarter">
            <div class="container">
              <div class="studySmarter-inn">
                <div class="studySmarter-head">
                  <h2>Study Smarter</h2>
                  <p>Study documents for all your classes</p>
                </div>
                <div class="studySmarter-form-div">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="studySmarter-form field form-group">
                        <label class="form-label" for="fullname">School</label>
                        <input type="text" class="form-control" placeholder="Enter a school">
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="studySmarter-form field form-group">
                        <label class="form-label" for="fullname">Course</label>
                        <input type="text" class="form-control" placeholder="Enter a course">
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="studySmarter-form">
                        <input type="submit" value="FInd Course" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="gradstoc-section">
          <div class="container">
            <div class="gradstoc-inn">
              <div class="section-head" data-aos="fade-down" data-aos-duration="600">
                <h2><span>Why</span> Gradstoc?</h2>
                <p>Lorem ipsum, or lipsum as it is sometimes known copy 4</p>
              </div>
              <div class="gradstoc-main-section">
                <div class="gradstoc-img">
                  <img src="images/photo-151.jpg" alt="">
                </div>
                <div class="gradstoc-cont">
                  <div class="gradstoc-cont-inn">
                    <h2>Lorem Ipsum is simply dummy text of the printing</h2>
                    <div class="rt-i">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br />
                      Lorem Ipsum has been the industry's standard dummy text ever.</p>
                    <h3>From Start to Finish</h3>
                    <div class="gradstoc-btn">
                      <a href="#" class="btn">How It Works</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="materials-section">
          <div class="container">
            <div class="materials-inn">
              <div class="section-head" data-aos="fade-down" data-aos-duration="600">
                <h2><span>Study</span> Materials</h2>
                <p>Lorem ipsum, or lipsum as it is sometimes known copy 4</p>
              </div>
              <div class="materials-slider-section">
                <div class="owl-carousel materials-slider">

                  <div class="item">
                    <div class="materials-item">
                      <div class="materials-item-inn card">
                        <div class="materials-item-img card-img">
                          <a href="product_detail_page.html"><img src="images/photo-151.jpg" alt="" /></a>
                        </div>
                        <div class="materials-item-cont card-body">
                          <div class="materials-item-name card-title">
                            <a href="#">Quantum physics</a>
                          </div>
                          <div class="materials-rt-ct">
                            <div class="materials-price-rt">
                              <div class="materials-price">$ 149.00</div>
                              <div class="materials-rt">
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                              </div>
                            </div>
                            <div class="materials-cart">
                              <a href="#"><i class="fas fa-shopping-cart"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="materials-item">
                      <div class="materials-item-inn card">
                        <div class="materials-item-img card-img">
                          <a href="product_detail_page.html"><img src="images/Feynman_Lectures.jpg" alt="" /></a>
                        </div>
                        <div class="materials-item-cont card-body">
                          <div class="materials-item-name card-title">
                            <a href="#">Biology</a>
                          </div>
                          <div class="materials-rt-ct">
                            <div class="materials-price-rt">
                              <div class="materials-price">$ 211.00</div>
                              <div class="materials-rt">
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star"></i>
                              </div>
                            </div>
                            <div class="materials-cart">
                              <a href="#"><i class="fas fa-shopping-cart"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="materials-item">
                      <div class="materials-item-inn card">
                        <div class="materials-item-img card-img">
                          <a href="product_detail_page.html"><img src="images/photo-151.jpg" alt="" /></a>
                        </div>
                        <div class="materials-item-cont card-body">
                          <div class="materials-item-name card-title">
                            <a href="#">Chemistry</a>
                          </div>
                          <div class="materials-rt-ct">
                            <div class="materials-price-rt">
                              <div class="materials-price">$ 199.00</div>
                              <div class="materials-rt">
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                              </div>
                            </div>
                            <div class="materials-cart">
                              <a href="#"><i class="fas fa-shopping-cart"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="prepared-section">
          <div class="container">
            <div class="prepared-inn">
              <div class="section-head" data-aos="fade-down" data-aos-duration="600">
                <h2><span>Be</span> Prepared</h2>
                <p>Lorem ipsum, or lipsum as it is sometimes known copy 4</p>
              </div>
              <div class="prepared-main-section">
                <div class="row">
                  <div class="col-md-8">
                    <div class="prepared-text">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishingard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                        only five centuries, but also the leap into electronic typesetti..</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="prepared-img" data-aos="fade-in" data-aos-duration="500">
                      <img src="images/photo-14.jpg" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="popular-section">
          <div class="container">
            <div class="popular-inn">
              <div class="section-head" data-aos="fade-down" data-aos-duration="600">
                <h2><span>Popular</span> Subjects</h2>
                <p>Lorem ipsum, or lipsum as it is sometimes known copy 4</p>
              </div>
              <div class="popular-main-section">
                <ul>
                  <li data-aos="fade-up" data-aos-duration="500">
                    <div class="popular-item">
                      <a href="#">
                        <span><i class="fas fa-book"></i></span>
                        <p>Biology</p>
                      </a>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-duration="600">
                    <div class="popular-item">
                      <a href="#">
                        <span><i class="fas fa-book"></i></span>
                        <p>Business</p>
                      </a>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-duration="700">
                    <div class="popular-item">
                      <a href="#">
                        <span><i class="fas fa-book"></i></span>
                        <p>Chemistry</p>
                      </a>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-duration="600">
                    <div class="popular-item">
                      <a href="#">
                        <span><i class="fas fa-book"></i></span>
                        <p>Computers</p>
                      </a>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-duration="500">
                    <div class="popular-item">
                      <a href="#">
                        <span><i class="fas fa-book"></i></span>
                        <p>Education</p>
                      </a>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-duration="500">
                    <div class="popular-item">
                      <a href="#">
                        <span><i class="fas fa-book"></i></span>
                        <p>English</p>
                      </a>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-duration="600">
                    <div class="popular-item">
                      <a href="#">
                        <span><i class="fas fa-book"></i></span>
                        <p>Math</p>
                      </a>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-duration="700">
                    <div class="popular-item">
                      <a href="#">
                        <span><i class="fas fa-book"></i></span>
                        <p>Nursing</p>
                      </a>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-duration="600">
                    <div class="popular-item">
                      <a href="#">
                        <span><i class="fas fa-book"></i></span>
                        <p>Psychology</p>
                      </a>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-duration="500">
                    <div class="popular-item">
                      <a href="#">
                        <span><i class="fas fa-book"></i></span>
                        <p>Theology</p>
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="started-section">
          <div class="container">
            <div class="prepared-inn">
              <div class="section-head" data-aos="fade-down" data-aos-duration="600">
                <h2><span>Get Started</span> Today</h2>
                <p>Lorem ipsum, or lipsum as it is sometimes known copy 4</p>
              </div>
              <div class="prepared-main-section">
                <div class="row">
                  <div class="col-md-4">
                    <div class="prepared-img" data-aos="fade-in" data-aos-duration="500">
                      <img src="images/photo-14.jpg" alt="" />
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="prepared-text">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishingard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                        only five centuries, but also the leap into electronic typesetti..</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-sign-div">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <div class="modal-sign-in">
                <div class="modal-sign-head">
                  <h2>Log In to Your Account</h2>
                </div>
                <div class="modal-sign-body">
                  <div class="social-div">
                    <ul>
                      <li><a href="#"><i class="fab fa-facebook-f"></i> <span>Login with facebook</span></a></li>
                      <li><a href="#"><i class="fab fa-google-plus-g"></i> <span>Login with google</span></a></li>
                    </ul>
                  </div>
                  <div class="sign-or"><span>OR</span></div>
                  <div class="sign-form">
                    <form method="post" action="javascript:void(0)" id="submitLoginForm"  class="signin-form">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Email Address <span>*</span></label>
                            <input type="text" class="form-control commonEmail" 
                              name="userEmail" id="userEmail" placeholder="Enter your email address..." value="" />
                            <small id="userEmailError" style="color:red;"></small>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Password <span>*</span></label>
                            <input type="password" class="form-control" id="userPass" name="userPass"
                              placeholder="Password" value="" />
                            <i class="bi bi-eye-slash" id="togglePassword"></i>
                            <small id="userPassError" style="color:red;"></small>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <span class="checkbox-accept">
                              <label>
                                <input type="checkbox" name="" value="">
                                <span></span>
                                Keep me logged in
                              </label>
                            </span>
                          </div>
                        </div>
                        <div class="col-md-6 showButton" >
                          <div class="form-group forgotP">
                            <label><a href="#" class="forgotPbtn">Forgot Password?</a></label>
                          </div>
                          <div class="form-group something">
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <input type="submit" class="btn" value="Login"/>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="modal-sign-footer">
                  <p>New to Gradstoc? <a href="#" class="footer-sign-up">Sign Up</a></p>
                </div>
              </div>

              <div class="modal-sign-up">
                <div class="modal-sign-head">
                  <h2>Create a FREE account now to get started</h2>
                </div>
                <div class="modal-sign-body">
                  <form action="register" onsubmit="return checkFormValidation()" method="post" class="register-form"
                    enctype="multipart/form-data">
                    <div class="currently-div ">
                      <p>I am currently a <span style="color:red;">*</span></p>
                      <ul>
                        <li>
                          <label>
                            <input type="radio" name="type" value=0 />
                            <span><i class="fas fa-chalkboard-teacher"></i> Student</span>
                          </label>
                        </li>
                        <li>
                          <label>
                            <input type="radio" name="type" value=1 />
                            <span><i class="fas fa-user-graduate"></i> Tutor</span>
                          </label>
                        </li>
                      </ul>
                      <small id="typeError" style="color:red;"></small>
                    </div>
                    <div class="sign-form">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>First Name <span>*</span></label>
                            <input type="text" class="form-control" maxlength="15" name="firstName" id="firstNameId"
                              placeholder="First Name" value="" />
                            <small id="firstName_warning" style="color:red;"></small>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Last Name <span>*</span></label>
                            <input type="text" class="form-control" name="lastName" maxlength="15" id="lastNameId"
                              placeholder="Last Name" value="" />
                            <small id="lastName_warning" style="color:red;"></small>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Profile photo <span>*</span></label>
                            <input type="file" name="profile" id="file-1" class="inputfile inputfile-1"
                              accept="image/*" />
                            <label class="inputfile-label" for="file-1">
                              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" fill="#2c2f8c"
                                viewBox="0 0 20 17">
                                <path
                                  d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" />
                              </svg>
                              <span>Select photo</span>
                            </label>
                            <small id="imageError" style="color:red"></small>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Email <span>*</span></label>
                            <input type="text" class="form-control commonEmail" id="email" name="email"
                              onkeyup="checkMailIsExist()" placeholder="Email" />
                            <small id="email_warning" style="color:red;"></small>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Password <span>*</span></label>
                            <input type="password" class="form-control" id="password" maxlength="16" name="password"
                              placeholder="Password" value="" />
                            <small id="passwordError" style="color:red;"></small>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Confirm password <span>*</span></label>
                            <input type="password" class="form-control" id="confirm_password" maxlength="16"
                              name="confirm_password" placeholder="Confirm password" value="" />
                            <small id='message'></small>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <span class="checkbox-accept">
                              <label>
                                <input type="checkbox" name="selectCheckbox" id="isChecked" value="" />
                                <span></span>
                              </label>
                            </span>
                            <label>I have read and accept the <a href="#">Terms & Conditions</a></label>
                            <br>
                            <small id="checkBoxError" style="color:red;"></small>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <input type="submit" class="btn otp_modal" id="submit_id" value="Sign Up">
                          </div>
                        </div>
                      </div>
                  </form>
                </div>
              </div>

              <div class="modal-sign-footer">
                <p>Already on Gradstoc? <a href="#" class="footer-sign-in">Sign In</a></p>
              </div>
            </div>

            <div class="modal-forgot-in">
              <div class="modal-sign-head">
                <h2>Forgot Password</h2>
              </div>
              <div class="modal-sign-body">
                <div class="sign-form">
                  <form action="javascript:void(0)" method="post" id="forgetPassword" class="signin-form">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Email Address <span>*</span></label>
                          <input type="email" class="form-control" id="forgetPassEmail" placeholder="Enter your email address..." value="" />
                          <small id="forgetEmailError"></small>
                          <small id="forgetEmailSuccess" class="text text-success"></small>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <input type="submit" class="btn" value="Send">
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../footer') %>

      <script>
        AOS.init({
          easing: 'ease-in-out-sine'
        });
      </script>
      <script>
        var owl = jQuery('.banner-slider');
        owl.owlCarousel({
          margin: 0,
          autoplay: true,
          autoplayTimeout: 5000,
          autoHeight: true,
          loop: true,
          navigation: true,
          animateIn: 'fadeIn',
          animateOut: 'fadeOut',
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 1
            },
            1000: {
              items: 1
            }
          }
        });

        var owl = jQuery('.materials-slider');
        owl.owlCarousel({
          margin: 0,
          autoplay: true,
          autoplayTimeout: 5000,
          autoHeight: true,
          loop: true,
          navigation: true,
          animateIn: 'fadeIn',
          animateOut: 'fadeOut',
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 3
            },
            1000: {
              items: 5
            }
          }
        })
      </script>

      <script src="/js/index.js">

      </script>

  </body>