<%- include('../header') %>

  <body class="home">
    
    <div class="main-wrapper">
      <section class="section-middle">
        <div class="section-banner-studySmarter">

          <div class="main-banner">
            <div class="owl-carousel banner-slider">
              <div class="item">
                <div class="banner-slider-item">
                  <div class="banner-slider-img">
                    <img src="images/gradindex.jpg" alt="" />
                  </div>
                  <div class="banner-slider-cont">
                    <div class="container">
                      <div class="banner-slider-cont-inn text text-left">
                        <h2>Content That Enriches</h2>
                        <p style="margin-left: 10px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                          eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                          nascetur ridiculus mus.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="gradstoc-section">
          <div class="container">
            <div class="gradstoc-inn">
              <div class="section-head" data-aos="fade-down" data-aos-duration="600">
                <h2><span>Why</span> Gradstoc?</h2>
                <p>Lorem ipsum, or lipsum as it is sometimes known copy 4</p>
              </div>
              <div class="gradstoc-main-section">
                <div class="gradstoc-img">
                  <img src="images/photo-151.jpg" alt="">
                </div>
                <div class="gradstoc-cont">
                  <div class="gradstoc-cont-inn">
                    <h2>Lorem Ipsum is simply dummy text of the printing</h2>
                    <div class="rt-i">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br />
                      Lorem Ipsum has been the industry's standard dummy text ever.</p>
                    <h3>From Start to Finish</h3>
                    <div class="gradstoc-btn">
                      <a href="#" class="btn">How It Works</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="prepared-section">
          <div class="container">
            <div class="prepared-inn">
              <div class="section-head" data-aos="fade-down" data-aos-duration="600">
                <h2><span>Be</span> Prepared</h2>
                <p>Lorem ipsum, or lipsum as it is sometimes known copy 4</p>
              </div>
              <div class="prepared-main-section">
                <div class="row">
                  <div class="col-md-8">
                    <div class="prepared-text">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishingard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                        only five centuries, but also the leap into electronic typesetti..</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="prepared-img" data-aos="fade-in" data-aos-duration="500">
                      <img src="images/photo-14.jpg" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="popular-section">
          <div class="container">
            <div class="popular-inn">
              <div class="section-head" data-aos="fade-down" data-aos-duration="600">
                <h2><span>Popular</span> Subjects</h2>
                <p>Lorem ipsum, or lipsum as it is sometimes known copy 4</p>
              </div>
              <div class="popular-main-section">
                <ul>
                  <li data-aos="fade-up" data-aos-duration="500">
                    <div class="popular-item">
                      <a href="#">
                        <span><i class="fas fa-book"></i></span>
                        <p>Biology</p>
                      </a>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-duration="600">
                    <div class="popular-item">
                      <a href="#">
                        <span><i class="fas fa-book"></i></span>
                        <p>Business</p>
                      </a>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-duration="700">
                    <div class="popular-item">
                      <a href="#">
                        <span><i class="fas fa-book"></i></span>
                        <p>Chemistry</p>
                      </a>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-duration="600">
                    <div class="popular-item">
                      <a href="#">
                        <span><i class="fas fa-book"></i></span>
                        <p>Computers</p>
                      </a>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-duration="500">
                    <div class="popular-item">
                      <a href="#">
                        <span><i class="fas fa-book"></i></span>
                        <p>Education</p>
                      </a>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-duration="500">
                    <div class="popular-item">
                      <a href="#">
                        <span><i class="fas fa-book"></i></span>
                        <p>English</p>
                      </a>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-duration="600">
                    <div class="popular-item">
                      <a href="#">
                        <span><i class="fas fa-book"></i></span>
                        <p>Math</p>
                      </a>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-duration="700">
                    <div class="popular-item">
                      <a href="#">
                        <span><i class="fas fa-book"></i></span>
                        <p>Nursing</p>
                      </a>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-duration="600">
                    <div class="popular-item">
                      <a href="#">
                        <span><i class="fas fa-book"></i></span>
                        <p>Psychology</p>
                      </a>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-duration="500">
                    <div class="popular-item">
                      <a href="#">
                        <span><i class="fas fa-book"></i></span>
                        <p>Theology</p>
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="started-section">
          <div class="container">
            <div class="prepared-inn">
              <div class="section-head" data-aos="fade-down" data-aos-duration="600">
                <h2><span>Get Started</span> Today</h2>
                <p>Lorem ipsum, or lipsum as it is sometimes known copy 4</p>
              </div>
              <div class="prepared-main-section">
                <div class="row">
                  <div class="col-md-4">
                    <div class="prepared-img" data-aos="fade-in" data-aos-duration="500">
                      <img src="images/photo-14.jpg" alt="" />
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="prepared-text">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishingard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                        only five centuries, but also the leap into electronic typesetti..</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

     <%- include('../popup') %>

    </div>
    <%- include('../footer') %>
      <script>
        AOS.init({
          easing: 'ease-in-out-sine'
        });
      </script>
      <script>
        var owl = jQuery('.banner-slider');
        owl.owlCarousel({
          margin: 0,
          autoplay: true,
          autoplayTimeout: 5000,
          autoHeight: true,
          loop: true,
          navigation: true,
          animateIn: 'fadeIn',
          animateOut: 'fadeOut',
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 1
            },
            1000: {
              items: 1
            }
          }
        });

        var owl = jQuery('.materials-slider');
        owl.owlCarousel({
          margin: 0,
          autoplay: true,
          autoplayTimeout: 5000,
          autoHeight: true,
          loop: true,
          navigation: true,
          animateIn: 'fadeIn',
          animateOut: 'fadeOut',
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 3
            },
            1000: {
              items: 5
            }
          }
        })
      </script>
<script src="js/index.js"></script>
     

  </body>