<%- include('../header') %>
<body class="home">
  <div class="main-wrapper">
    <section class="section-middle">
      
        <div class="page-title">
        <div class="container">
          <div class="page-title-in">
            <h2>Terms and Services</h2> 
          </div>
        </div>
      </div><!--page-title-->

      <div class="container">
        <div class="terms-and-services-page">
            <h2>Terms</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>

            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>

            <h3>Lorem Ipsum has been the industry's standard dummy</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>

            <h2>Services</h2>
            <ul>
                <li>Lorem Ipsum has been the industry's standard dummy</li>
                <li>Lorem Ipsum has been the industry's standard dummy</li>
                <li>Lorem Ipsum has been the industry's standard dummy</li>
                <li>Lorem Ipsum has been the industry's standard dummy</li>
                <li>Lorem Ipsum has been the industry's standard dummy</li>
                <li>Lorem Ipsum has been the industry's standard dummy</li>
            </ul>

            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div><!--privacy-policy-page-->
      </div><!--container-->
     
    </section><!--section-middle-->

    <footer class="footer">
      <div class="main-footer">
        <div class="container">
          <div class="main-footer-inn">
            <div class="footer-logo">
              <span><img src="images/logo.png" alt="" /></span>
            </div>
            <div class="footer-menu">
              <ul>
                <li><a href="about-us.html">About Us</a></li>
                <li><a href="terms-and-services.html">Terms and Services</a></li>
                <li><a href="privacy-policy.html">Privacy Policy</a></li>
                <li><a href="#">How it works</a></li>
                <li><a href="#">Trust and Quality</a></li>
                <li><a href="blog.html">Blog</a></li>
              </ul>
            </div>
            <div class="footer-social">
              <ul>
                <li class="facebook"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li class="twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li class="linkedin"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                <li class="google-plus"><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="copy-right-footer">
        <div class="container">
          <div class="copy-ftr">
            Your copy right address here
          </div>
        </div>
      </div>
    </footer>
    <%- include('../popup') %>
  </div>
  <%- include('../footer') %>

</body>

