name: CI/CD Deployment

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Add SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} '
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"

            nvm use 18 || nvm install 18

            if ! command -v pm2 > /dev/null; then
              npm install -g pm2
            fi

            mkdir -p $APP_DIR
            cd $APP_DIR
            git init
            git remote add origin https://github.com/${{ github.repository }}.git || true
            git fetch origin
            git reset --hard origin/main
            npm install

            pm2 restart all || pm2 start app.js --name "gradstoc" --env production --update-env
          '
